acme.json
giteadb.env
nextclouddb.env
.env
traefik.yml
gitea-postgres/

!gitea/

gitea/*
!gitea/gitea/

gitea/gitea/*
!gitea/gitea/conf/

gitea/gitea/conf/*
!gitea/gitea/conf/app.ini.template

**/*.diff