acme.json
docker-compose.yml
giteadb.env
nextclouddb.env
traefik.toml
postgres/

!gitea/

gitea/*
!gitea/gitea/

gitea/gitea/*
!gitea/gitea/conf/

gitea/gitea/conf/*
!gitea/gitea/conf/app.ini.template

