acme.json
giteadb.env
nextclouddb.env
.env
traefik.toml
postgres/

!gitea/

gitea/*
!gitea/gitea/

gitea/gitea/*
!gitea/gitea/conf/

gitea/gitea/conf/*
!gitea/gitea/conf/app.ini.template

Dockerfile_nextcloud/Dockerfile